.centered-container {
  display: flex;
  margin-right: 10.8%;
  justify-content: flex-end;
  height: 100vh;
}

.text-block {
  margin-top: 11.1%;
  position: relative;
  z-index: 1;
  color: white;
  padding: 2%;
  text-align: center;
  transform: translateX(100%);
  animation: slideIn 1s ease-out forwards;
}


@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

.text-block h1 {
  font-family: 'Cambira-bolt';
  font-weight: bold;
  font-size: 10.9vw;
  margin-bottom: -2vw;
}

.welcome {
  font-family: 'Cambira-bolt';
  font-weight: bold;
  font-size: 3.5vw;
  margin-bottom: 1.6vw;
  letter-spacing: 0.4px;
  margin-left: 0.5vw;
}

.input-container {
  margin-left: 3vw;
  max-width: 24.35vw;
  height: 4.25vw;
  border: 1px dashed #464646;
  border-radius: 2.1vw;
  display: flex;
  align-items: center;
}

.code-witcher {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 1.7vw;
  margin-right: 1vw;
  margin-top: 0.2vw !important;
  margin-bottom: 0 !important;
  font-size: 2.1vw !important;
  letter-spacing: 0.2vw;
  color: #f73427;
}

.copied {
  color: #f73427;
}

.non-copied {
  color: #464646;
}

.v-border {
  margin: 0 !important;
  height: 4.25vw;
  width: 1px;
  border-left: 1px solid #464646;
}

.copy-btn {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.88vw;
  letter-spacing: 0.14vw;
  background: transparent;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  height: 4.25vw;
  width: 11vw;
  border-top-right-radius: 42px;
  border-bottom-right-radius: 42px;
  transition: background-color 0.2s;
}

.copy-btn:hover {
  background: #f73427;
}

.play-btn {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.05vw;
  font-weight: bold;
  letter-spacing: 0.1vw;
  color: white;
  margin-top: 0.55vw;
  margin-left: 0.2vw;
  height: 4.25vw;
  width: 18.8vw;
  border-radius: 2.1vw;
  background-color: #f73427;
  transition: all 0.3s;
  border: none;
}

.play-btn:hover {
  background-color: #cd0e00;
}

.logo-container {
  position: fixed;
  bottom: 10px;
  left: 10px;
}

.logo {
  width: 1000px;
  height: auto;
}

.terms {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  bottom: 30px;
  right: 70px;
  color: #464646;
  font-size: 10px;
}

@media (max-width: 1440px) {
  .text-block {
    margin-top: 120px;
  }

  .centered-container {
    margin-right: 100px;
  }

  .text-block h1 {
    font-size: 120pt;
  }

  .welcome {
    font-size: 40pt;
    margin-bottom: 36px;
  }

  .play-btn {
    font-size: 16pt;
    height: 66px;
    width: 320px;
    border-radius: 33px;
  }

  .input-container {
    max-width: 24.35vw;
    height: 65px;
    border: 1px dashed #464646;
    border-radius: 42px;
    display: flex;
    align-items: center;
  }

  .code-witcher {
    margin-left: 30px;
    margin-right: 21px;
    margin-top: 5px !important;
    margin-bottom: 0 !important;
    font-size: 20pt !important;
  }
}

@media (max-width: 1024px) {
  .text-block {
    margin-top: 11.1%;
  }

  .centered-container {
    margin-right: 50px;
  }

  .text-block h1 {
    font-size: 9vw;
    margin-bottom: -25px;
  }

  .welcome {
    font-size: 3vw;
    margin-bottom: 36px;
  }

  .copy-btn {
    height: 60px;
    width: 94px;
  }

  .play-btn {
    font-size: 16pt;
    height: 66px;
    width: 18.8vw;
    border-radius: 33px;
  }

  .input-container {
    margin-left: 0px;
    max-width: 24.35vw;
    height: 65px;
    border: 1px dashed #464646;
    border-radius: 42px;
    display: flex;
    align-items: center;
  }

  .code-witcher {
    margin-left: 30px;
    margin-right: 21px;
    margin-top: 5px !important;
    margin-bottom: 0 !important;
    font-size: 15pt !important;
  }
}

@media (max-width: 912px) {
  .text-block {
    margin-top: 0px;
  }

  .centered-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0px;
  }

  .text-block h1 {
    font-size: 80pt;
    margin-bottom: -25px;
  }

  .welcome {
    font-size: 26pt;
    margin-bottom: 36px;
  }

  .copy-btn {
    height: 60px;
    width: 15vw;
  }


  .play-btn {
    font-size: 16pt;
    height: 66px;
    width: 18.8vw;
    border-radius: 33px;
  }

  .input-container {
    margin-left: 0px;
    max-width: 400px;
    height: 65px;
    border: 1px dashed #464646;
    border-radius: 42px;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .code-witcher {
    margin-left: 30px;
    margin-right: 21px;
    margin-top: 5px !important;
    margin-bottom: 0 !important;
    font-size: 20pt !important;
  }
}

@media (max-width: 520px) {
  .text-block {
    margin-top: 0px;
    padding: 10px;
  }

  .centered-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0px;
  }

  .text-block h1 {
    padding-left: 5px;
    font-size: 55pt;
    margin-bottom: -10px;
  }

  .welcome {
    font-size: 18pt;
    margin-bottom: 36px;
  }

  .copy-btn {
    font-size: 10pt;
    height: 60px;
    width: 94px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: background-color 0.2s;
  }

  .v-border {
    margin: 0 !important;
    height: 60px;
    width: 1px;
    border-left: 1px solid #464646;
  }

  .play-btn {
    font-size: 16pt;
    height: 66px;
    width: 200px;
    border-radius: 33px;
  }

  .input-container {
    margin-left: 10px;
    max-width: 260px;
    height: 60px;
    border: 1px dashed #464646;
    border-radius: 30px;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .code-witcher {
    margin-left: 22px;
    margin-right: 13px;
    margin-top: 5px !important;
    margin-bottom: 0 !important;
    font-size: 18pt !important;
  }
}